<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Create new snippet</h1>
    <%= @snippet.errors.full_messages.join(",") %>
  </div>
  <%= bootstrap_form_for @snippet do |f| %>
    <div class="col-md-6 col-md-offset-3">
      <%= f.collection_select :category_id, Category.all, :id, :name %>
      <%= f.text_field :title %>
      <%= f.text_area :work %>
      <%= f.check_box :private, class: "btn btn-primary" %>
      <%= f.submit class: "btn btn-warning" %>
    </div>
  <% end %>
</div>
