<div class="col-md-6 col-md-offset-3">
<h1>Create New User</h1>
<%= @user.errors.full_messages.join(", ") %>
<%= bootstrap_form_for @user do |f| %>
  <div>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit class: "btn btn-warning"%>
<% end %>
</div>
